
/* SMART GAME HTML STYLE */

button:focus {
  outline: none;
}

#gamediv {
  height: 900px;
  width: 500px;
  color: #212121;
  background-size: cover;
  background-color: none;
  border:3px solid white;
}

#validwords {
  height: 450px;
  width: 400px;
  padding: 10px;
  border:0px solid #673AB7;
  font-size: 40px;
  text-align: center;
  color: white
}

#validwordslist {
  font-size: 50px;
  color: black;
  text-align: center;
  display: block;
  padding-top: 15px;
  color: white
}

#typebox {
  height: 60px;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border:0px solid #673AB7;
  font-size: 60px;
  color: white;
  text-align: center;
}

#letterkeys {
  height: 150px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px;
  font-size: 60px;
  color: black;
  text-align: center;
}

.letterbutton-on1 {
  height: 65px;
  width: 65px;
  font-size: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #03fca1;
  color: white
}

.letterbutton-on2 {
  height: 65px;
  width: 65px;
  font-size: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #45b8ff;
  color: white
}

.letterbutton-on3 {
  height: 65px;
  width: 65px;
  font-size: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #ff8624;
  color: white
}

.letterbutton-on4 {
  height: 65px;
  width: 65px;
  font-size: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #ff3333;
  color: white
}

.letterbutton-on5 {
  height: 65px;
  width: 65px;
  font-size: 45px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #000000;
  color: white
}

.letterbutton-off {
  height: 65px;
  width: 65px;
  font-size: 45px;
  border-radius: 50%;
  color: #da72f7;
  background-color: transparent;
  border: 3px solid #da72f7;
}

#clearbutton {
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 0px
}

#verifybutton {
  font-size: 60px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 0px
}


.blinking-cursor {
  font-weight: 100;
  font-size: 80px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
